# =========================
# Build
# =========================
build/
**/build/

# =========================
# VS Code
# =========================
**/.vscode/*
!/.vscode/c_cpp_properties.json
esp32/*/compile_commands.json
.cache/

# =========================
# STM32
# =========================
*.elf
*.hex
*.bin
*.map
*.o
*.d

# =========================
# Arduino
# =========================
*.eep

# =========================
# Python / Jetson Nano
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# YOLO
# =========================
runs/

# =========================
# Environment / Logs
# =========================
.env
/esp32/entrance_node/include/network_config.h
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
.pio/

# =========================
# Jetson_Server
# =========================
/jetson_nano/server_jetson/.env
/jetson_nano/server_jetson/server/idpasswd.txt
/jetson_nano/client/clientID.conf
/jetson_nano/client/bluetooth/client_bluetooth
/jetson_nano/client/ble/client_ble
*.swp
/jetson_nano/client/clientID.conf
/jetson_nano/client/bluetooth/client_bluetooth
/jetson_nano/client/ble/client_ble
*.swp

# Jetson runtime data / credentials
/data/
/jetson_nano/.local/