# =========================
# Build
# =========================
build/
**/build/

# =========================
# VS Code
# =========================
**/.vscode/*
!/.vscode/c_cpp_properties.json
esp32/*/compile_commands.json
.cache/

# =========================
# STM32
# =========================
*.elf
*.hex
*.bin
*.map
*.o
*.d

# =========================
# Arduino
# =========================
*.eep

# =========================
# Python / Jetson Nano
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# YOLO
# =========================
runs/

# =========================
# Environment / Logs
# =========================
.env
/esp32/entrance_node/include/network_config.h
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
.pio/
