# =========================
# Build
# =========================
build/
**/build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# STM32
# =========================
*.elf
*.hex
*.bin
*.map
*.o
*.d

# =========================
# Arduino
# =========================
*.eep

# =========================
# Python / Jetson Nano
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# YOLO
# =========================
runs/

# =========================
# Environment / Logs
# =========================
.env
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db