# Shared client definitions for run_client.sh.
# Wifi is not defined

[DEVICE_RFCOMM]
TYPE=RFCOMM
CLIENT_ID=INPUT_ID
CLIENT_ID_PASSWD=INPUT_PASSWD
CLIENT_MAC=INPUT_DEVICE_MAC_ADDRESS
CHANNEL=INPUT_CHANNEL_NUMBER

[DEVICE BLE]
TYPE=BLE
CLIENT_ID=INPUT_ID
CLIENT_ID_PASSWD=INPUT_PASSWD
CLIENT_MAC=INPUT_DEVICE_MAC_ADDRESS

[DEVICE WIFI] 
TYPE=WIFI
CLIENT_ID=INPUT_ID
CLIENT_ID_PASSWD=INPUT_PASSWD
CLIENT_MAC=INPUT_DEVICE_MAC_ADDRESS
